<extend name="Index:shouye"/>
<block name="paihang">
<div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                         梦想排行前三名
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <table class="table  table-hover general-table">
                                <thead>
                                <tr>
                                    <th>发布者</th>
                                    <th>发布标题</th>
                                    <th>梦想图片</th>
                                    <th>梦想票数</th>
                                    <th>Progress</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="hidden-phone">{$three[0]['username']}</td>
                                    <td>{$three[0]['xtitle']}</td>
                                    <td><img src="__PUBLIC__/Uploads/{$three[0]['xpic']}" width="70px" height="30px"/></td>
                                    <td><span class="label label-danger label-mini">{$three[0]['num']}</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-info">
                                                <span class="sr-only">90% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hidden-phone">{$three[1]['username']}</td>
                                    <td>{$three[1]['xtitle']}</td>
                                    <td><img src="__PUBLIC__/Uploads/{$three[1]['xpic']}" width="70px" height="30px"/></td>
                                    <td><span class="label label-warning label-mini">{$three[1]['num']}</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-danger">
                                                <span class="sr-only">70% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="hidden-phone">{$three[2]['username']}</td>
                                    <td>{$three[2]['xtitle']}</td>
                                    <td><img src="__PUBLIC__/Uploads/{$three[2]['xpic']}" width="70px" height="30px"/></td>
                                    <td><span class="label label-primary label-mini">{$three[2]['num']}</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                                <span class="sr-only">60% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>

<div class="col-sm-12">
                    <section class="panel">
                    	<header class="panel-heading">
                         梦想排行
                        </header>
                        <div class="panel-body">
                            <table class="table  table-hover general-table">
                                <thead>
                                <tr>
                                    <th>发布者</th>
                                    <th>发布标题</th>
                                    <th>梦想图片</th>
                                    <th>梦想票数</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="dream" item="row" >
                                <tr>
                                    <td>{$row['username']}</td>
                                    <td>{$row['xtitle']}</td>
                                    <td><img src="__PUBLIC__/Uploads/{$row['xpic']}" width="70px" height="30px"/></td>
                                    <td><span class="label label-danger label-mini">{$row['num']}</span></td>
                                </tr>
                                </foreach>	
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
</block>