<extend name="Index:shouye"/>
<block name="dreamxiang">
            <div class="panel-body">
            <div class="profile-desk">
                <h1>梦想标题：{$xiang['xtitle']}</h1>
                <span class="designation"></span>
                <p>
                    梦想描述:<br/>{$xiang['xdetail']}<br/>
                    <img src="__PUBLIC__/Uploads/{$xiang['xpic']}" width="500px" height="200px">
                </p>
                <i class="fa fa-thumbs-up"></i>点赞数:{$xiang['num']}

            </div>
        </div>
</block>